.contenido{
    width: 80vw;
    height: calc(100vh - 12vh);
    margin: auto;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.selector{
    width: 60%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.seleccion{
    box-sizing: border-box;
    border: solid 4px #444242;
    width: 20vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    color: #444242;
    &:hover{
        box-shadow: 0px 0px 10px 0px #be2663;
    }
    img{
        border-top:solid 2px #444242;
    }
}