.pie{
    grid-area:pie;
    box-sizing: border-box;
    width: 80vw;
    height: 5vh;
    background: #be2663;
    margin: auto;
    color: #edeef0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 4px #444242;
}
