.parte{
	width: 100%;
	height: 25%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: auto;
	h1{
		font-size: 2vmax;
		margin: 0;
	}
	.contenido{
		box-sizing:border-box;
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		margin: 0;
		a{
			margin: 1vh;
		}
	}
	.columna{
		box-sizing: border-box;
		width: 60%;
		margin: 1vmin;
		display:flex;
		align-items:flex-start;
		justify-content:flex-start;
		p{
			margin: 1vw;
			font-size: 3vmin;
		}
	}
}