.contenido{
    width: 80vw;
    height: calc(100vh - 12vh);
    margin: auto;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.data{
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
}