.lista{
	background: white;
	color: black;
	ul{
		list-style: none;
		li{
			margin:2mm;
		}
	}
}
@media print {
	@page { margin: 0; }
	body { margin: 1.6cm; }
    .lista{
    	display: block;
		width: auto;
		height: auto;
		overflow: visible;
		margin: 10mm;
    }
}   