@import '../../variables.scss';
.item{
	width: 100%;
	height: 5vh;
	border-bottom: solid 1px $prim-normal;
	margin: 1vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	& > div:first-child{
		width: 65%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	#botonera{
		width: 30%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}