.lista{
	background: white;
	color: black;
	table{
		width: 90%;
		tr{
			width: 80vw;
			border-collapse: collapse;
			th{
				height: 2cm;
				width: auto;
				text-align: left;
				vertical-align: center;
				padding: 1mm;
				white-space: nowrap;
			}
			td{
				padding: 1mm;
				width: auto;
				text-align: left;
				vertical-align: center;
				border-bottom: 1px solid #ddd;
				white-space: nowrap;
			}
		}
	}

}
@media print {
	@page { margin: 0; }
	body { margin: 1.6cm; }
    .lista{
    	display: block;
		width: auto;
		height: auto;
		overflow: visible;
		margin: 10mm;
    }
}   
