.parte{
	width: 100%;
	height: 25%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	.contenido{
		width: 100vw;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		a{
			margin: 1vh;
		}
	}
}
@media (max-widh:768px){
	a{
		font-size: 1.5vmin;
		margin:1vh;
	}
}