.cabecera{
    grid-area: cabecera;
    box-sizing: border-box;
    width: 80vw;
    height: 7vh;
    margin: auto;
    padding: 0 1vmin;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid #444242;
    img{
        height: 5vh;
    }
    ul{
        display: flex;
        list-style: none;
        li{
            margin: auto;
            padding: 1vmin;
            a{
                color: #444242;
                &:hover{
                    color: #be2663;
                }
            }
        }
    }
}
