.contenido{
    width: 80vw;
    height: calc(100vh - 12vh);
    margin: auto;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.data{
    margin: auto;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.formulario{
    width: 40vw;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    input,textarea{
        box-sizing: border-box;
        width: 90%;
        height: 5vh;
        padding: 1vh;
        margin: .5vh;
    }
    textarea{
        height: 20vh;
        resize: none;
    }
    a,button{
        width: 90%;
        height: 5vh;
        background: #be2663;
        color: white;
        border:none;
        margin: .5vh;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}
.info{
    width: 40vh;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}