.contenido{
    position: relative;
    width: 80vw;
    height: calc(100vh - 12vh);
    margin: auto;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.data{
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    overflow-y: scroll;
    img{
        width: 30%;
        max-width: 30vw;
        max-height: 30vw;
        margin: 1vmin;
    }
}
.modal{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    max-height: 100%;
    background: rgba(0, 0, 0, .8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    h2{
        width: 80%;
    }
}