.contenido{
    width: 80vw;
    height: calc(100vh - 12vh);
    margin: auto;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.data{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.texto{
    position: absolute;
    top: 5vh;
    left: 5vh;
    background: #BE2663;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    color: white;
    width: 50vmin;
    height: 25vmin;
    padding: 2vmin;
    border: solid 4px #444242;
    h1{
        font-size: 5vmin;
        margin: 0;
    }
    h2{
        font-size: 3vmin;
        margin: 0;
    }
}
.noticias{
    position: absolute;
    bottom: 5vh;
    right: 5vh;
    background: white;
    color: white;
    width: 50vmin;
    height: 25vmin;
    padding: 2vmin;
    border: solid 4px #444242;
    overflow: hidden;
    &:hover{
        box-shadow: 0px 0px 10px 0px #be2663;
    }
    h2{
        font-size: 3vmin;
        margin: 0;
    }
}
.noticia{
    width: 45vmin;
    height: 80%;
    color: #444242;
    overflow: hidden;
    margin: 0;
    img{
        width: 100%;
        height: 80%;
        object-fit: cover;
        border: solid 2px #444242;
    }
    h3{
        margin: 0;
    }
}
