.contenido{
    width: 80vw;
    height: calc(100vh - 12vh);
    margin: auto;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    div:first-child{
        box-sizing: border-box;
        width: 40vh;
        height: 60vh;
        overflow: hidden;
        margin: 10px;
        img{
            object-fit: cover;
            height: 100%;
            margin: 0;
        }
    }
    div:last-child{
        box-sizing: border-box;
        width: 40vh;
        height: 60vh;
        overflow: hidden;
        margin: 10px;
        p,h3{
            margin: 0;
        }
    }
}