.contenedor{
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    min-width: 100%;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 7vh auto 5vh;
    grid-template-areas:
    "cabecera"
    "cuerpo"
    "pie";
}
