@import './app/vistas/variables';

body{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	position: relative;
}
h1,h2{
	font-family: 'Oswald', sans-serif;
	font-weight: 600;
}
h3,h4,h5,h6 {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
}

h1{
	color: $sec-negro;
	border-bottom: solid .2vmin $prim-normal;
	span{
		font-family: 'Source Sans Pro', sans-serif; 
		font-weight: 400;
		color: $prim-oscuro;
	}
}
button,a{
	box-sizing: border-box;
	padding: 1vmin 2vmin;
	margin: auto;
	color: $sec-blanco;
	background: $prim-normal;
	border-radius: .5vh;
	border:none;
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
	text-decoration: none;
	&:hover{
		background:lighten($prim-normal,5%);
		box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
	}
	&:active{
		background:darken($prim-normal,5%);
		box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.75);
	}
}
a.nada{
	width: auto;
	margin: 0;
	padding: 0;
	background:transparent;
	text-decoration: underline;
	box-shadow: none;
	font-weight: 600;
}
//contenedores globales
.contenedor-centro{
	box-sizing: border-box;
	width: 100vw;
	max-width: 100%;
	height: 100vh;
	max-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	background: $acento;
	color: $sec-blanco;
	img{
		width: 10vw;
		margin: 1vmax;
	}
	.cuadro{
		box-sizing: border-box;
		width: 50vw;
		height: 60vh;
		background: $sec-blanco;
		color: $gris-oscuro;
		padding: 2vmax;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		align-content: center;
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
		h1{
			width: 90%;
		}
		label{
			font-size: 2.2vmin;
			margin: .5vh;
		}
		select,input{
			box-sizing: border-box;
			background: transparent;
			border-radius: .5vh;
			height: 3vh;
			border:solid 1px $gris-oscuro;
			padding: .5vmin;
			margin: auto;
			color: $gris-oscuro;
			&:hover{
				box-shadow: 0px 0px 2px 0px $prim-normal;
			}
			&:focus{
				border:none;
				box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
			}
		}
	}
	@media (max-width: 768px) {
			.cuadro{
				width: 70vw;
			}
			.fila{
				input,select{
					width: 45%;
				}
			}
	}
	.home{
		box-sizing: border-box;
		width: 80vw;
		height: 80vh;
		background: $sec-blanco;
		color: $gris-oscuro;
		padding: 2vmax;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		align-content: center;
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
		h1{
			width: 90%;
		}
	}
}
.fila{
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin: auto;
	input,select{
		width: 48%;
	}
	select{
		font-size: 1.5vmin;
	}
}
.lista{
	width: 100%;
	height: 70%;
	max-height: 70%;
	overflow-y:scroll; 
	overflow-x:hidden; 
}
.modal{
	display: none;
	box-sizing: border-box;
	position: absolute;
	left: 0;
	top: 0;
	width:100vw;
	max-width: 100%;
	height:100vh;
	background: rgba(0,0,0,.7);
	display:flex;
	align-items: center;
	justify-content:center;
	display: none;
}