$prim-oscuro: #7b155e;
$prim-normal: #be2663;
$prim-blanco: #e9ddd9;
$acento: #eeca2c;
$sec-negro:#2d274c;
$sec-blanco:#edeef0;
$gris-oscuro:#444242;
$gris-normal:#5b5b5f;



/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

select{
	height: 4vmin;
	option{
		font-size: 2vmin;
	}
}
